
html,body {
    height:100%;
    padding:0;
}

.content {
    padding: 20px;
}

@media (min-width: 768px) {
	.content {
	    padding-left: 40px;
	    padding-right: 40px;
	}
}

.space-ten {
	padding: 10px 0;
}

.glyphicon-star { 
  color: #e67e22; 
  font-size: 1.0em;
}

.glyphicon-star-empty { 
  font-size: 1.0em;
}

.glyphicon { 
	margin-right:5px;
}

.product_view .modal-dialog {
	max-width: 800px; 
	width: 100%;
}


.button-space {
	margin-left: 20px;
	margin-right: 20px;
	padding: 10px;
	width: 100px;
}

.limit_text {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 16px;     /* fallback */
   max-height: 32px;      /* fallback */
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}

/* input:not([type='image']), textarea {
  width: 200px;
} */

/* Produkte darstellen */
.shape{    
	border-style: solid; border-width: 0 70px 40px 0; float:right; height: 0px; width: 0px;
	-ms-transform:rotate(360deg); /* IE 9 */
	-o-transform: rotate(360deg);  /* Opera 10.5 */
	-webkit-transform:rotate(360deg); /* Safari and Chrome */
	transform:rotate(360deg);
}

.shape-text{
	color:#fff; 
	font-size:12px; 
	font-weight:bold; 
	position:relative; 
	right:-40px; 
	top:2px; 
	white-space: nowrap;
	-ms-transform:rotate(30deg); /* IE 9 */
	-o-transform: rotate(360deg);  /* Opera 10.5 */
	-webkit-transform:rotate(30deg); /* Safari and Chrome */
	transform:rotate(30deg);
}

.offerForm{
	overflow-y:auto;
	height: 88vh;
	margin-top:-20px
}

.offer{
	background:#fff;
	border:1px solid #ddd;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	margin: 15px 0;
	overflow:hidden;
	border-radius:7px;
}

.offer:hover {
    -webkit-transform: scale(1.1); 
    -moz-transform: scale(1.1); 
    -ms-transform: scale(1.1); 
    -o-transform: scale(1.1); 
    transform:rotate scale(1.1); 
    -webkit-transition: all 0.4s ease-in-out; 
    -moz-transition: all 0.4s ease-in-out; 
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.offer-danger {	border-color: #d9534f; }
.offer-danger .shape{
	border-color: transparent #d9534f transparent transparent;
}

.offer-success {	border-color: #5cb85c; }
.offer-success .shape{
	border-color: transparent #5cb85c transparent transparent;
}

.offer-default {	border-color: #999999; }
.offer-default .shape{
	border-color: transparent #999999 transparent transparent;
}

.offer-content{
	padding:0 20px 10px;
}

.img-container img {
  object-fit: cover;
  max-height: 150px;
  overflow: hidden;
  /* max-width:100%; */
} 


/* Bewertung Sterne wählen */
.rating {
    float:left;
}

/* input[type=radio]:not(:checked) { tbody > tr >td :not(:checked)*/
table tbody tr td input[type=radio]{
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

table tbody tr td :not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

table tbody tr td:not(:checked) > label:before {
    content: '★ ';
    font-size: 25px;
}

table tbody tr td > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

table tbody tr td:not(:checked) > label:hover,
table tbody tr td:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

table tbody tr td > input:checked + label:hover,
table tbody tr td > input:checked + label:hover ~ label,
table tbody tr td > input:checked ~ label:hover,
table tbody tr td > input:checked ~ label:hover ~ label,
table tbody tr td > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

table tbody tr td > label:active {
    position:relative;
    top:2px;
    left:2px;
}